.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
}
.form-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.btn_disable {
  background-color: red;
}
.btn_success {
  background-color: blue;
}
