<div class="container">
  <h1 *ngIf="!id">Add New Customer</h1>
  <h1 *ngIf="id">Edit Customer</h1>
  <form [formGroup]="studentForm" (ngSubmit)="saveStudentForm()">
    <div class="form-header">
      <label>Customer Code</label>
      <input matInput placeholder="" formControlName="code" required />
    </div>
    <div class="form-header">
      <label>Gender</label>
      <input matInput placeholder="" formControlName="gender" required />
    </div>
    <div class="form-header">
      <label>First Name</label>
      <input matInput placeholder="" formControlName="firstName" required />
    </div>
    <div class="form-header">
      <label>Last Name</label>
      <input matInput placeholder="" formControlName="lastName" required />
    </div>
    <div class="form-header">
      <label>Email</label>
      <input matInput placeholder="" formControlName="email" required />
    </div>
    <button
      type="submit"
      *ngIf="id === null"
      class="btn btn-success"
      [disabled]="!studentForm.valid"
    >
      Add Customer
    </button>
    <button
      type="submit"
      *ngIf="id"
      class="btn btn-success"
      [disabled]="!studentForm.valid"
    >
      Edit Customer
    </button>
  </form>
</div>
